<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title>New Stock</title>
    <style>
      h1 {
        text-align: center;
      }
      .flex-container {
        display: flex;
        flex-direction: row;
      }
      .container {
        /* display: flex; */
        flex-direction: column;
      }
      .header {
        /* display: flex; */
        font-family: "Montserrat", helvetica;
        font-size: 0.9em;
        position: sticky;
        /* justify-content: space-between; */
        background-color: #d48166;
        padding: 10px;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <center>
      <div class="header">
        <h1>Add New Stock</h1>
      </div>
    </center>
    <div class="container">
      <div class="flex-container">
        <form action="/show/new" method="POST">
          <div class="form-group row">
            <label for="stock" class="col-sm-2 col-form-label"
              >Stock symbol:
            </label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="stock"
                name="stock"
                placeholder="Stock symbol "
                required
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="purchaseDate" class="col-sm-2 col-form-label"
              >Purchase Date:
            </label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="purchaseDate"
                name="purchaseDate"
                placeholder="YYYY/MM/DD"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="purchasePrice" class="col-sm-2 col-form-label"
              >Purchase Price:
            </label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="purchasePrice"
                name="purchasePrice"
                placeholder="Purchase Price"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="sellAtPrice" class="col-sm-2 col-form-label"
              >Purchase Price:
            </label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="sellAtPrice"
                name="sellAtPrice"
                placeholder="Sell At Price"
                required
              />
            </div>
          </div>

          <p></p>
          <input
            class="btn btn-primary"
            type="submit"
            value="Create New Stock Entry"
          />
        </form>
      </div>
      <p></p>
      <nav>
        <a class="btn btn-secondary" href="/">Back to Stock Screen </a>
      </nav>
    </div>
  </body>
</html>

<!-- price: { type: Number, min: 0 }, qty: { -->
